<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    </head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.6-rc.2/peerjs.min.js"></script>

    <div id="app">
        <h3>My peer ID is: 
            <button @click="navigator.clipboard.writeText(uuid)">{{ uuid }}
            (copy)</button>
        </h3>
       
        <div v-if="!conn">
            <p>Try joining by adding dest id</p>
            <input v-model="dest">
            <button @click="join(dest)" :disabled="!dest">Connect</button>
        </div>
        <div v-else>
            <p>Connection established</p>
            <details>
                <summary><b>Debug logs</b></summary>
                <pre><code>{{options}}</code></pre>

                <details v-for="log in debug">
                    <summary>{{log.id}}</summary>
                    <pre><code>{{log.value}}</code></pre>
                </details>
            </details>
            <p>
                Other: 
                <button @click="navigator.clipboard.writeText(conn.peer)">{{ conn.peer }}
                (copy)</button>
            </p>

            <div>
                <input v-model="text">
                <button @click="sendText()" :disabled="!text">Send</button>
            </div>

            <ul>
                <li v-for="msg in msgs">
                    
                    <table>
                        <tr><th>{{ msg.from }}</th></tr>
                        <tr><td>{{ msg.data }}</td></tr>
                    </table>
                </li>
            </ul>
            
        </div>
    </div>
    
    <script>
        /*jshint esversion: 11 */
        new Vue({
            el: "#app",
            data() {
                return {
                    peer: undefined,
                    uuid: undefined,
                    dest: undefined,
                    conn: undefined,

                    options: "",
                    debug: [],

                    text: "",
                    msgs: [],
                };
            },
            mounted() {
                this.peer = new Peer();
                this.peer.on('open', (uuid) => this.uuid = uuid);
                this.peer.on('connection', (conn) => this.init(conn));
            },
            methods: {
                join(dest) {
                    this.init(this.peer.connect(dest));
                },
                init(conn) {
                    this.conn = conn;
                    this.conn.on('data', (data) => this.store(data));
                    this.log()
                },
                sendText() {
                    this.send(this.text);
                    this.text = "";
                },
                send(data) {
                    const message = { data: data, from: this.uuid };
                    this.conn.send(message);
                    this.store(message);
                },
                store(data) {
                    this.msgs.push(data);
                    this.log()
                },
                log() {
                    this.conn.peerConnection
                    .getStats(null)
                    .then((stats) => {
                        this.options = JSON.stringify(this.peer._options, null, 2)

                        this.debug = [];
                        stats.forEach((s) => this.debug.push({ 
                            id: s.id,
                            value: JSON.stringify(s, null, 2)
                        }))
                    })
                    .catch((err) => console.error(err));
                }
            },
        });
    </script>
</body>
</html>