<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, dialial-scale=1.0">
    <title>Video</title>
    </head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.6-rc.2/peerjs.min.js"></script>

    <div id="app">
        <h3>My peer ID is: 
            <button @click="navigator.clipboard.writeText(uuid)">{{ uuid }}
            (copy)</button>
        </h3>
       
        <div v-if="!conn">
            <p>Try joining by adding dest id</p>
            <input v-model="dest">
            <button @click="join" :disabled="!dest">Connect</button>
        </div>
        <div v-else>
            <p>Connection established</p>
            <details>
                <summary><b>Debug logs</b></summary>
                <pre><code>{{options}}</code></pre>

                <details v-for="log in debug">
                    <summary>{{log.id}}</summary>
                    <pre><code>{{log.value}}</code></pre>
                </details>
            </details>
            <p>
                Other: 
                <button @click="navigator.clipboard.writeText(conn.peer)">{{ conn.peer }}
                (copy)</button>
            </p>
        </div>

        <div v-show="conn">
            <div>
                <p>host screen (self)</p>
                <div v-show="recording">
                    <video width="640" height="300" ref="host" style="background-color:black"></video>
                </div>
                <div v-show="!recording">
                    <button @click="share" :disabled="!conn">Share screen</button>
                    <br/>
                    <canvas width="640" height="300" ref="placeholder" style="background-color:black"></canvas>
                </div>
            </div>
            <div>
                <p>dest screen (other)</p>
                <video width="640" height="300" ref="dest" style="background-color:black"></video>
            </div>
        </div>
    </div>
    
    <script>
        /*jshint esversion: 11 */
        new Vue({
            el: "#app",
            data() {
                return {
                    peer: undefined,
                    uuid: undefined,
                    dest: undefined,
                    conn: undefined,
                    call: undefined,

                    options: "",
                    debug: [],

                    stream: undefined,
                    recording: false,
                };
            },
            mounted() {
                // We always need a stream to respond
                this.$refs.placeholder.getContext('2d').fill()
                this.stream = this.$refs.placeholder.captureStream()

                this.peer = new Peer();
                this.peer.on('open', (uuid) => this.uuid = uuid);
                this.peer.on('connection', (conn) => this.init(conn));
                this.peer.on('call', (call) => {
                    this.dial(call);
                    this.call.answer(this.stream);
                });
            },
            methods: {
                join() {
                    this.init(this.peer.connect(this.dest));
                    this.display(this.$refs.host, this.stream);
                    this.dial(this.peer.call(this.dest, this.stream));
                },
                init(conn) {
                    this.conn = conn;
                    this.log()
                },
                share() {
                    navigator.mediaDevices
                    .getDisplayMedia({ 
                        video: { cursor: "always" }, 
                        audio: false 
                    })
                    .then((stream) => {
                        this.stream = stream
                        // update display
                        this.display(this.$refs.host, stream);

                        // change track for sending
                        this.call.peerConnection.getSenders()[0].replaceTrack(stream.getVideoTracks()[0])
                        this.recording = true
                    }).catch((err) => console.error(err));
                },
                display(video, stream) {
                    video.srcObject = stream;
                    video.addEventListener('loadedmetadata', () => video.play());
                }, 
                dial(call) {
                    this.call = call
                    this.call.on('stream', (stream) => {
                        this.display(this.$refs.dest, stream);
                    });
                    this.log()
                },
                log() {
                    this.conn.peerConnection
                    .getStats(null)
                    .then((stats) => {
                        this.options = JSON.stringify(this.peer._options, null, 2)

                        this.debug = [];
                        stats.forEach((s) => this.debug.push({ 
                            id: s.id,
                            value: JSON.stringify(s, null, 2)
                        }))
                    })
                    .catch((err) => console.error(err));
                }
            },
        });
    </script>
</body>
</html>